---
layout: default
title: Agave Networks
team_description: "the Maradream-Team"
show_menu: True
---


				<!-- Wrapper -->
                <section id="wrapper">
                        {%include spotlight.html 
                            id="one" 
                            style="style1" 
                            image="images/pic01.jpg" 
                            header="Post TITLE HERE" 
                            content="Post TEXT HERE" 
                            is_alt="False"
                            showlearnmore="False"
                            %}
                        
                        {%include spotlight.html 
                                id="two" 
                                style="style2" 
                                image="images/pic02.jpg" 
                                header="Tempus adipiscing" 
                                content="Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus." 
                                show_learnmore="True"
                                is_alt="True"
                                %}
                                                

                    <!-- Four -->
                    <!-- {%include article_container.html%} -->
                    {%include team.html id="team" style="style4"%}

                </section>

            <!-- Footer -->
            {%include footer.html 
                address1=""
                email="claudiocoppola90@gmail.com"
                phone="0810298275"
                facebook=""
                instagram=""
                twitter=""%}
